.panel-heading {
  font-size: 1.4em;
}

[class^="icon-"], [class*=" icon-"] {
  padding-right: 10px;
}

.panel-footer {
  border-top: 0px;
}

dl {
  margin-bottom: 0px;
}

.nodisplay{
	display:none
}

.linkClass{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.row {
  margin-left: -15px !important;
}

/* Name header section */
.name-header {
  margin-bottom: 10px;
}
.name-header > .pull-left {
  margin-left: 30px;
}
.name-header > .pull-right {
  margin-right: 30px;
}
.current-vitals {
  margin-left: 20px;
}
